* {
  font-family: "Raleway", sans-serif;
}
.anchors {
  padding: 15px;
  border: white 3px solid;
  border-radius: 15px;
  background-color: black;
  color: white;
}
canvas {
  border-radius: 15px;
  border: 4px solid white;
  margin-top: 100px;
}
